@use 'styles/constants/colors';

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: colors.$BG_G;
}

.section {
  width: calc(100% - 320px);
  @media screen and (max-width: 1050px) {
    width: calc(100% - 24px);
    margin-left: 24px;
  }
  height: 100%;
  background-color: colors.$BG_G;
}

.main {
  width: 100%;
  height: calc(100% - 80px);
  padding: 40px;
  overflow: scroll;
}
