@use 'styles/constants/colors';
@use 'styles/mixins/typo';

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  min-width: 360px;
  padding: 40px;
  margin: 80px 40px;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);
}
