// section
$BACKGROUND: #d0e8fd;
$FOOTER: #303d4e;
$BANNER: #369efc;

// color
$WHITE: #ffffff;
$PURPLEBLUE: #7884ef;
$GRAY: #757a79;
$LIGHTGRAY: #f4f6fa;
$BRIGHTGRAY: #f7f8f9;

$GRAYA: #3a474e;
$GRAYB: #94a2ad;
$WHITEGRAY: #edeff1;
$WHITEGRAYA: #f6f7f8;
$LIGHTGREEN: #85da47;
$SKYBLUE: #4fadf7;
$BACKGRAY: #f6f7f8;
