// section
$BACKGROUND: #f6f7f8;
$FOOTER: #303d4e;
$BANNER: #369efc;

// color
$WHITE: #ffffff;
$BLUE: #3579e1;
$LIGHTBLUE: #559cf5;
$GRAY: #757a79;
$LIGHTGRAY: #f4f6fa;

$LIGHTGRAYFONT: #94a2ad;
$SOFTBLACK: #3a474e;
$GRAYBORDER: #d1d8dc;

$LINK: #3a474e;
$ACTIVELINK: #586cf5;
