@use 'styles/constants/colors';

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1300px;
  height: 500px;
  background: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 743px;
  padding: 60px 41px 29px 40px;
  background: colors.$WHITEGRAYA;
}

.title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
}

.chartBox {
  height: 220px;
}

.tableBox {
  width: 1000;
  margin: 20px 0;
  overflow-x: auto;
  font-size: 14px;
}

.table {
  width: 1100px;
  height: 220px;
  overflow: auto;
}

.tableRow {
  height: 33px;
  border-top: 2px solid colors.$LIGHTGRAY;
}

.tableColumn {
  width: 200px;
  height: 33px;
  text-align: end;
}
