@use 'styles/constants/colors';

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 107px;
  margin-bottom: 98px;
  background: colors.$BG_G;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 718px;
  background: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);
}

.title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
}

.chartBox {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  overflow-x: auto;
}

.tableBox {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 0 40px;
  margin: 80px 0 0;
  overflow-x: auto;
  font-size: 14px;
}

.table {
  width: 100%;
  height: 220px;
  margin: 0;
}

.tableHead {
  min-width: 100px;
  height: 33px;
  padding: 16px 40px 16px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: colors.$GRAY_300;
}

.tableRow {
  min-width: 120px;
  height: 40px;
  color: colors.$GRAY_800;
  text-align: end;
  border-top: 2px solid colors.$GRAY_50;
}

.tableColumn {
  min-width: 120px;
  height: 40px;
  padding: 16px 40px 16px 0;
  color: colors.$GRAY_800;
  text-align: end;
}

.tableTotal {
  min-width: 120px;
  height: 40px;
  padding: 16px 40px 16px 0;
  color: colors.$GRAPH_01 !important;
  text-align: end;
  border-bottom: 2px solid colors.$GRAY_50;
}
